<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like tropical cyclones. I am exploring the techniques to improve the forecasts, climate projections, and visualizations of tropical cyclones.
            </p>
            <p class="paragraph-text justify-text">
                Currently, I am a Ph.D. student at the University of Utah, working on satellite data assimilation, including GOES-16, and Aeolus.
            </p>
            <p class="paragraph-text justify-text">
                I desire to apply machine learning and Unreal Engine to my research. Please contact with me if you have the same thoughts.
            </p>
        </div>
    </section>
</div>
