<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Blogs</div>
            <div class="blogs-wrapper" id="rss-feeds"></div>
            <!-- <div class="blog-menu-wrap">
                <a class="semi-transparent-button with-border blog-links" href="#nav">CONTACT</a>
                <a class="semi-transparent-button with-border blog-links" href="#projects">PROJECTS</a>
            </div> -->
        </div>
    </section>
</div>