
<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name">{{ site.title }}</div>
        <div class="head-punchline animated">{{ site.description }}</div>
        <div class="extra-links">
            <span class="hint--bottom bottom-link" aria-label="CV">
                <a href="{{ site.blog_url }}/cv/CV_Chengfeng_Feng_20231220.pdf"><i class="head-icon fa-solid fa-file"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="Email">
                <a onclick="copyToClipboard('ROY.FENG@utah.edu')"><i class="head-icon fa-solid fa-envelope"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="GitHub">
                <a href="https://github.com/RoyCaitSith"><i class="head-icon fa-brands fa-github"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="ResearchGate">
                <a href="https://www.researchgate.net/profile/Chengfeng-Feng-2"><i class="head-icon fa-brands fa-researchgate"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="Google Scholar">
                <a href="https://scholar.google.com/citations?user=_2nExSQAAAAJ&hl=en"><i class="head-icon fa-brands fa-google-scholar"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="ORCID">
                <a href="https://orcid.org/0000-0002-2182-8224"><i class="head-icon fa-brands fa-orcid"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="Instagram">
                <a href="https://www.instagram.com/roy_fung_2018"><i class="head-icon fa-brands fa-instagram"></i></a>
            </span>
            <span class="hint--bottom bottom-link" aria-label="X">
                <a href="https://twitter.com/roy_caitsith"><i class="head-icon fa-brands fa-x-twitter"></i></a>
            </span>
            <script>
                function copyToClipboard(text) {
                    // Create a temporary input element
                    var tempInput = document.createElement('input');
                    tempInput.value = text;
                    document.body.appendChild(tempInput);
        
                    // Select the text in the input element
                    tempInput.select();
                    tempInput.setSelectionRange(0, 99999); /*For mobile devices*/
        
                    // Copy the text to the clipboard
                    document.execCommand('copy');
                    document.body.removeChild(tempInput);
        
                    // Show a message or perform any other action
                    alert('ROY.FENG@utah.edu copied to clipboard!');
                }
            </script>
        </div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#projects">PROJECTS</a>
        </div>
    </div>
</section>
