<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="satellite" class="semi-transparent-button with-border white-button" onclick="selected('satellite')">Satellite</a>
                    <a id="lidar" class="semi-transparent-button with-border white-button" onclick="selected('lidar')">Lidar</a>
                    <a id="tc" class="semi-transparent-button with-border white-button" onclick="selected('tc')">TC</a>
                    <a id="aew" class="semi-transparent-button with-border white-button" onclick="selected('aew')">AEW</a>

                </div>

            <div class="projects-wrapper">
                <!-- filled in by js -->
                <!-- <div class="head-menu-wrap">
                    <a class="semi-transparent-button with-border white-button nav-links" href="#nav">CONTACT</a>
                </div> -->
            </div>
        </div>
    </section>
</div>
