<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Papers</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="all-sky" class="semi-transparent-button with-border white-button" onclick="selected('all-sky')">All-Sky</a>
                    <a id="infrared" class="semi-transparent-button with-border white-button" onclick="selected('infrared')">Infrared</a>
                    <a id="goes" class="semi-transparent-button with-border white-button" onclick="selected('goes')">GOES</a>
                    <a id="aeolus" class="semi-transparent-button with-border white-button" onclick="selected('aeolus')">Aeolus</a>

                </div>

            <div class="projects-wrapper">
                <!-- filled in by js -->
                <!-- <div class="head-menu-wrap">
                    <a class="semi-transparent-button with-border white-button nav-links" href="#nav">CONTACT</a>
                </div> -->
            </div>
        </div>
    </section>
</div>
